.MyTable {
  padding-top: 15px;
}
.ReleaseDiaog {
  >>> .el-dialog {
    border-radius: 10px;
  }
  >>> .el-form {
    padding: 10px 0 0 0;
  }
  >>> .el-form-item {
    margin-bottom: 10px;
  }
  >>> .el-input {
    width: 184px;
  }
  >>> .ReleaseDiaog-col {
    padding: 0 60px;
  }
}
// 屏幕适配
@media (min-width: 320px) and (max-width: 375px) {
  .ReleaseDiaog {
    >>> .el-dialog {
      width: 100%;
    }
    >>> .ReleaseDiaog-col {
      padding: 0;
    }
    >>>.create-order {
       padding: 0;
    }
  }
}
